* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: montage, sans-serif;
  background: linear-gradient( to top right, #FAF5F1 65% , #D4B7B5 100%, #D4B7B5 100% );
  color: #000;
  line-height: 1.6;
}

.cabecalho-principal {
  background: linear-gradient( to right, #FAF5F1 65% , #D4B7B5 100%, #D4B7B5 100% );
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  }


.cabecalho {
  flex: 1;
  border-bottom: 1px solid #AD4F4B;
  padding-top: 2%;
  margin-left: 500px;
}


.logo {
  position: absolute;
  left: 45px;
  top: 20px;
  width: 320px;
  z-index: 10;
}

h2 {
  font-family: garamond;
  color: #111111;
  font-size: 48px;
  letter-spacing: 1px;
  margin-bottom: 55px;
  
}

a {
  font-family: inter, sans-serif;
  color: #A64B4B;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4rem 0;
}

.menu ul {
  margin-left: 60px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 15px;
  position: relative;
  bottom: 15px;
}

.link-nav {
  font-family: inter, sans-serif;
  color: #A64B4B;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4rem 0;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
/* efeito retirado dos sites sugeridos pelo Professor Fabiano */
.link-nav:hover {
  color: hsl(3, 54%, 66%);
}

.botao-agendar {
  background-color: #A66D6D;
  color: #FFF9F9;
  padding: 25px 25px;
  border-radius: 5px;
  white-space: nowrap;
  position: relative;
  bottom: 4px;
  transition: all 0.5s ease;
}

.botao-agendar2, .botao-conheca-mais, .botao-como-chegar {
  background-color: #A66D6D;
  color: #FFF9F9;
  padding: 25px 25px;
  border-radius: 5px;
  white-space: nowrap;
  margin-top: 0;
  transition: all 0.5s ease;
}

.efeito-brilho {
  position: relative;
  overflow: hidden;
}

.efeito-brilho::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;

  width: 80%;
  height: 100%;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );

  transform: skewX(-25deg);
  transition: 0.7s;
}

.efeito-brilho:hover::before {
  left: 150%;
}

.banner {
  background: linear-gradient(to right, #FAF5F1 65%, #D4B7B5 100%);
  position: relative;
  height: 681px;
  overflow: hidden;
  border-bottom: 1px solid #AD4F4B;
}

.conteudo-banner { 
  position: absolute; 
  left: 80px; 
  top: 120px;
  width: 600px; 
}

.logo-decorativa {
  position: absolute;
  left: 45%;
  top: 80px;
  opacity: 0.12;
}

.imagem-banner {
  position: absolute;
  right: 0;
  top: 0;
  height: 681px;
  width: auto;
  max-width: none;
}


.subtitulo-banner {
  font-family: inter, sans-serif;
  color: #AD4F4B;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.subtitulos {
  font-family: inter, sans-serif;
  color: #AD4F4B;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 55px;
}

.conteudo {
  font-family: inter, sans-serif;
  color: #111111;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 55px;
}

.sub-carrossel {
  font-family: inter, sans-serif;
  color: #AD4F4B;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: center;
}

.tit-servicos {
  font-family: 'Times New Roman', Times, serif;
  color: #111111;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px; 
  margin-bottom: 20px; 
  
}

.titulo-cilios{
  position: absolute;
  align-items: center;
  color: #fdfdfd; 
  font-family: "Playfair Display"; 
  font-size: 30px; /* Tamanho da fonte */
  font-weight: 600; /* Peso da fonte */
  line-height: normal; /* Altura da linha */
  padding: 10px 2px; /* Espaçamento interno */
  padding-bottom: 50px;
  background: #A66D6D;
  border-radius:5px;
  width: 350px; 
  height: 10px;
  margin: 0 auto;
  white-space: nowrap;
}
  
.janela-carrossel {
  width: 1800px;
  max-width: 1600px;
  max-height: 1600px;
  overflow: hidden; /* esconde os outros grupos */ 
  position: relative;
  margin: 0 auto;
  text-align: center;
  
}

/* faixa que vai deslizar */
.slide-servicos {
  display: flex;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out;
  gap: 20px;

}

/* cada grupo (uma "tela" do carrossel) */
.grupo-servico {
  min-width: 100%;      /* cada grupo ocupa 100% da tela */
  display: flex;        /* cards lado a lado */
  gap: 20px;            /* espaço entre cards */
  align-items: stretch;
  text-align: center;
  margin: 0 auto; 
  min-width: 100%;
  justify-content: center; /* centraliza os cards */
}

/* cada card (4 por grupo) */
.card-servico {
  background: #fff;   /* opcional */
  overflow: hidden;     /* mantém imagem dentro */
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #AD4F4B;
  color: #000;
  font-family: Montaga;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 0 0 350px; /* largura fixa */
  max-width: 350px;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 80px;
}

.card-servico p {
  text-align: justify;
}

/* imagens dos cards */
.card-servico img {
  width: 100%;
  display: block;
}

h4{
color: #A64B4B;
font-family: "Playfair Display";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 55px;
text-align: center;
}

/* botões das setas */
.botao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  color: #D9C4BA;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #AD4F4B;
 font-family: Inter;
 font-size: 96px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}

.botao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent; /* tira o fundo branco */
  z-index: 10;
  border: none; 
  color: #AD4F4B;
  font-size: 70px; /* menor que 96px, mais elegante */
  font-weight: 400;
  }

/* seta esquerda */
.botao.seta.esquerda {
  left: -10px;}

/* seta direita */
.botao.seta.direita {
  right: -10px;
}

/* link do guia */
.Guia {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  color:#000000;
  margin-bottom: 15PX;
}

.diferenciais {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #A66D6D;
  font-family: inter, sans-serif;
  margin: 0 auto; 
  color: #FAF5F1;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.diferenciais-texto{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 20px;
  white-space: nowrap;
  text-align: left;
  font-size: 20px;
  margin-left: 50px;
  text-transform: uppercase;
}

.feedbacks {
  background: linear-gradient(to right, #FAF5F1 65%, #D4B7B5 100%);
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feedbacks img {
  height: 250px;
  width: auto;
  object-fit: cover;
}

.conteudo-feedback {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  text-align: left;
}
  
.feedback {
  background-color: #FFF9F9;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  height: 300px;
  width: min(90%, 1330px);
  display: none;
}

.feedback.ativo {
  background-color: #FFF9F9;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  height: 300px;
  width: min(90%, 1330px);
  display: flex;
  animation: passarLado 0.6s ease;
}

/* efeito retirado dos sites indicados pelo professor Fabiano */
@keyframes passarLado {
  from {
    opacity: 0;
    transform: translateX(80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nome-feedback {
  font-family: inter, sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.localidade {
  font-family: inter, sans-serif;
  color: #000000;
  font-size: 15px;
  margin-bottom: 5px;
  
}

.avaliacao {
  font-family: inter, sans-serif;
  color: #DEB521;
  font-size: 20px;
  margin-bottom: 10px;
}

.data {
  font-family: inter, sans-serif;
  color: #000000;
  font-size: 14px;
  margin-bottom: 5px;
}

.descricao {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
} 

.conheca-mais {
  background: linear-gradient(to right, #FAF5F1 65%, #D4B7B5 100%);
  position: relative;
  overflow: hidden;
  padding: 80px;
  border-top: 1px solid #AD4F4B;
}

.conteudo-conheca-mais {
  max-width: 420px;
}

.logo-decorativa2 {
  position: absolute;
  right: 180px;
  bottom: 0;
  opacity: 0.5;
}

.imagem-profissional {
  position: absolute;
  right: 120px;
  bottom: 0;
} 

.localizacao {
  background: linear-gradient(to right, #FAF5F1 65%, #D4B7B5 100%);
  border-top: 1px solid #AD4F4B;
  display: grid;
  grid-template-columns: minmax(300px, 550px) minmax(300px, 770px);
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 80px 90px;
}

.conteudo-localizacao {
  max-width: 550px;
}

.informacoes-local {
  list-style: none;
  margin: 28px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.info-item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.info-item img {
  width: 55px;
  height: 55px;
}

.info-item p {
  margin: 0;
}

.mapa {
  justify-self: end;
  margin: 0;
  border: 3px solid #665F5F;
  border-radius: 6px;
}

.mapa iframe {
  max-width: 100%;
  height: 440px;
}

.novidades {
  width: fit-content;
  margin-left: auto;
  text-align: left;
  margin-bottom: 100px;
}

.novidades h3 {
  margin-bottom: 3px;
}

.novidades form {
  display: flex;
  align-items: center;
  gap: 6px;
}

.novidades input {
  width: 292px;
  height: 41px;
  padding: 0 16px;
  border: 1px solid #665F5F;
  border-radius: 5px;
}

.novidades button {
  width: 106px;
  height: 41px;
  padding: 0;
  border: 1px solid #665F5F;
  border-radius: 5px;
  background-color: #FAF5F1;
  font-size: 17px;
  color: #A66D6D;
  font-weight: bold;
}

#mensagem {
    color: #FAF5F1;
    font-weight: bold;
    margin-top: 10px;
    justify-content: center;
}

.logo-rodape {
  width: auto;
  height: 245px;
}

.rodape-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.informacoes-rodape {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
  font-size: 16px;
  margin-left: 50px;
  padding: 0;
}

.rodape-informacoes {
  background-color: #A66D6D;
  color: #FFF9F9;
  border-top: 1px solid #FFF9F9;
  padding-top: 1px;
  display: grid;
  grid-template-columns: 360px 1fr 430px;
  align-items: center;
  gap: 40px;
  padding: 20px 50px;
}

.rodape-direitos {
  background-color: #A66D6D;
  color: #FFF9F9;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  border-top: 1px solid #FFF9F9;
}


@media (max-width: 900px) {
  .banner,
  .conheca-mais,
  .localizacao {
    padding: 40px 20px;
  }

  .localizacao {
    grid-template-columns: 1fr;
  }

  .mapa {
    justify-self: center;
  }

  .feedback.ativo {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .conteudo-feedback {
    margin-left: 0;
    text-align: center;
  }

  .menu ul {
    gap: 20px;
    flex-wrap: wrap;
  }

  .logo {
    position: static;
    width: 220px;
  }

  .cabecalho {
    margin-left: 0;
  }
}